*{
    font-family: 'Noto Sans';
    color: whitesmoke;
}

body{
    background-color: rgb(30, 30, 30);
}

a{
    text-decoration: none;
    color: yellow;
}

li{
    list-style: none;
    width: fit-content;
}

main{
    grid-area: main;
    margin: 2%;
}

main article{
    text-align: justify;
}

main section h2{
    display: inline-block;
    font-size: xx-large;
}

header{
    grid-area: nav;
    background-color: gray;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img{
    width: 50%;
}

.navPC{
    display: none;
}

.navMobile{
    display: flex;
}

.navMobile .dropdown button{
    background-color: gray;
    height: 100%;
}

.navMobile .dropdown button:hover + .dropdown-menu{
    display: block;
}

.busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
}

.busqueda__icono{
    width: 30px;
}

.busqueda__box{
    height: 40px;
    background-color: none;
}

footer{
    grid-area: footer;
    background-color: gray;
}

footer ul{
    display: list-item;
    padding-inline: 1%;
    column-count: 2;
}

.index{
    display: grid;
    grid-template-areas: 
    'nav'
    'pag'
    'main'
    'footer';
}

.foro{
    background-color: rgb(30, 30, 30);
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

.foro article{
    display: flex;
    flex-direction: column;
}

.foro article div{
    display: flex;
    align-items: center;
    margin: 1%;
}

.foro article div .artForo{
    display: flex;
    background-color: gray;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
}

.foro main article div div{
    background-color: gray;
    margin: 2%;
    padding: 2%;
}

.foro .comentario{
    background-color: darkgray;
    text-align: center;
    margin: 2%;
}

.pag{
    display: block;
    grid-area: pag;
    height: fit-content;
    padding: 1%;
    background-color: gray;
    width: max-content;
}

.pag h1{
    text-align: center;
    font-size: large;
}

.pag ul{
    display: flex;
    flex-direction: column;
}

.pag li{
    margin: 1%;
    list-style: disc;
}

article{
    padding: 1%;
    margin: 2%;
}

@media screen and (min-width: 800px) {

    .navMobile{
        display: none;
    }

    .navPC{
        display: flex;
        flex-direction: row;
    }
    
    nav img{
        width: 50%;
    }

    .navPC ul{
        display: flex;
        flex-direction: row;
    }

    .navPC ul li{
        display: flex;
        transition: all 1s;
        padding: 2%;
    }
    
    .navPC ul li:hover{
        transform: scale(1.1, 1.1);
    }

    .navPC ul li .amarillo{
        width: max-content;
        font-size: x-large;
    }

    footer{
        grid-area: footer;
        background-color: gray;
    }
    
    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-inline: 1%;
        align-items: center;
        height: 75px;
    }
    
    footer ul li{
        transition: all 1s;
    }

    footer ul li:hover{
        transform: scale(1.5, 1.5);
    }

    .pag li{
        transition: transform 0.5s;
    }
    
    .pag li:hover{
        transform: scale(1.1, 1.1);
    }

    .amarillo{
        color: yellow;
        transition: all 1s;
        text-align: center;
    }

    .amarillo:hover{
        color: orange;
    }
    
    .index{
        grid-template-areas: 
        'nav nav'
        'main pag'
        'footer footer';
    }

    .foro{
        grid-template-areas: 
        "nav"
        "main"
        "footer";
    }
    
    .pag{
        margin-top: 15%;
    }
}
