.acerca{
    display: grid;
    grid-template-areas:
    "nav"
    "main"
    "footer";

    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        padding: 4%;

        .fila1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            iframe{
                margin: 4%;
                width: 400px;
                height: 300px;
            }
        }
        
        .fila2{
            display: flex;
            flex-direction: row;

            div{
                display: flex;
                flex-direction: column;
                margin: 4%;

                img{
                    width: 30vw;
                }
            }
        }
    }
}
