.arts{
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";

    .Filtros{
        position: fixed;
        margin-top: 23vw;
        display: flex;
        font-size: $fuenteP;
        .refinar{
            background-color: $colorFondoBox;
            border: $bordeEstilo;
            border-color: $bordeColor;
            width: 60vw;
            padding: 1%;

            div{
                color: black;
                option{
                    color: black;
                }
            }
        }

        button{
            width: 4vw;
            color: black;
        }

        transform: translateX(-60vw);
        transition: all 1s;

        &:hover{
            transform: translateX(0vw);
        }
    }

    main{
        grid-area: main;
        padding: 3vw;
    }

    article{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border: $bordeEstilo;
        border-color: $bordeColor;
        width: 95vw;
        height: 40vw;

        .art{
            padding-inline: 2%;

            h2{
                text-align: left;
            }
        }

        .imgs{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .autor{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    width: 10vw;
                }
            }
            
            img{
                width: 15vw;
            }
        }
    }
}

@media (orientation: landscape){
    .arts{
        main{
            article{
                .art{                    
                    font-size: $fuenteL;
                }
            }
        }    
        
        .Filtros{
            margin-top: 11vw;
            font-size: $fuenteL;
            .refinar{
                width: 35vw;
                padding: 1%;
    
                div{
                    color: black;
                    option{
                        color: black;
                    }
                }
            }
            transform: translateX(-35vw);
        }
    }
}