.pagContacto{
    display: grid;
    grid-template-areas: 
    "nav"
    "arriba"
    "medio"
    "abajo"
    "footer";

    main{
        padding: 2%;
        
        form{
            display: flex;
            flex-direction: column;
            .arriba{
                display: flex;
                grid-area: 'arriba';
                margin: 2%;
                width: 85vw;
                justify-content: space-between;

                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 2%;
                    width: 60vw;

                    input{
                        margin-bottom: 2vw;
                        color: black;
                    }
                }

                img{
                    width: 20vw;
                }
            }

            textarea{
                grid-area: 'medio';
                padding: 2%;
                color: black;
                width: 100%;
                height: 50vw;
                overflow-y: scroll;
                margin-bottom: 2vw;
            }

            .abajo{
                grid-area: 'abajo';
                display: flex;
                justify-content: space-between;

                input{
                    color: black;
                }
            }

        }
    }
}

@media (orientation: landscape){
    .pagContacto{
        form{
            div{
                input{
                    font-size: $fuenteL;

                }
            }
        }
    }
}