footer{
    grid-area: footer;
    background-color: $colorFondoBox;

    ul{
        display: list-item;
        padding-inline: 1%;
        column-count: 2;
        font-size: larger;
    }

    a{
        &:visited{
            color: $visitedLinks;
        }
    }
}

@media screen and (min-width: 992px) {

    footer{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-inline: 1%;
            align-items: center;
            height: 40px;
            font-size: 20px;
        }
    }
}
