footer{
    grid-area: footer;
    background-color: $colorFondoBox;
    font-size: $fuente*1.2;

    ul{
        display: list-item;
        padding-inline: 1%;
        column-count: 2;
    }

    a{
        text-decoration: none;
        &:visited{
            color: $visitedLinks;
        }
    }
}

@media screen and (min-width: $sm) {

    footer{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-inline: 1%;
            align-items: center;
            height: 40px;
        }
    }
}
