.foro{
    background-color: rgb(30, 30, 30);
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    border-color: $bordeColor;

    article{
        display: flex;
        flex-direction: column;
        margin: 2%;
        padding: 2%;
        border-bottom: $bordeEstilo;

        .superior{
            display: flex;
            margin: 1%;

            .artForo{
                display: flex;
                flex-direction: column;
                margin: 1%;
                padding: 1%;
                height: 200px;
                overflow-y: scroll;
            }
        }
    }

    .comentarios{
        display: block;
        text-justify: distribute;
        height: 100px;
        padding: 1%;
        overflow-y: scroll;
        border: $bordeEstilo;

        div{
            padding: 1%;
            border-bottom: $bordeEstilo;
        }
    }

    .artImgs{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .autor{
        text-align: center;
        img{
            width: 60px;
            border: $bordeEstilo;
            border-color: $bordeColor;
        }
    }

    .artPrev{
        img{
            width: 120px;
            border: dotted;
            border-color: $bordeColor;
        }
    }
}

@media screen and (min-width: 992px) {
    .foro{
        grid-template-areas: 
        "nav"
        "main"
        "footer";

        .artImgs{
            flex-direction: row;
        }
        
        .autor{
            margin: 2%;
            img{
                width: 100px;
            }
        }

        .artPrev{
            img{
                width: 250px;
            }  
        }
    }
}
