.foro{
    background-color: rgb(30, 30, 30);
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";

    main{
        grid: main;
    }

    .Filtros{
        position: fixed;
        margin-top: 23vw;
        display: flex;
        font-size: $fuenteP;
        .refinar{
            background-color: $colorFondoBox;
            border: $bordeEstilo;
            border-color: $bordeColor;
            width: 60vw;
            padding: 1%;

            div{
                color: black;
                option{
                    color: black;
                }
            }
        }

        button{
            width: 4vw;
            color: black;
        }

        transform: translateX(-60vw);
        transition: all 1s;

        &:hover{
            transform: translateX(0vw);
        }
    }

    article{
        display: flex;
        flex-direction: column;
        margin: 2%;
        padding: 2%;
        border-bottom: $bordeEstilo;
        border-color: $bordeColor;

        .superior{
            display: flex;
            margin: 1%;

            .artForo{
                display: flex;
                flex-direction: column;
                margin: 1%;
                padding: 1%;
                height: 50vw;
                overflow-y: scroll;
                h2{
                    font-size: 1.5*$fuenteP;
                }

                img{
                    max-width: 60vw;
                }
            }
        }
    }

    .comentarios{
        display: block;
        height: 20vw;
        overflow-y: scroll;
        border: $bordeEstilo;
        border-color: $bordeColor;

        .comentario__box{
            padding: 1%;
            border-bottom: $bordeEstilo;
            border-color: $bordeColor;

            p{
                font-size: $fuenteP*0.9;               
            }

            .comentario__box__pie{
                display: flex;
                justify-content: end;
                border-right: $bordeEstilo;
                border-color: $bordeColor;

                li{
                    padding-inline: 1%;
                    border-left: $bordeEstilo;
                    border-color: $bordeColor;
                }
            }
        }
    }

    .artImgs{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .autor{
            text-align: center;
            a{
                img{
                    width: 10vw;
                    border: $bordeEstilo;
                    border-color: $bordeColor;
                }}
        }
    
        .artPrev{
            border: $bordeEstilo;
            border-color: $bordeColor;
            height: 20vw;
            width: 30vw;
        }
    }
}

@media screen and (orientation: landscape) {
    .foro{
        grid-template-areas: 
        "nav"
        "main"
        "footer";

        article{
            .superior{
                .artForo{
                    h2{
                        font-size: 1.5*$fuenteL;
                    }
                    img{
                        max-width: 700px;
                    }
                }
            }
        }

        .artImgs{
            flex-direction: row;
            
        
            .autor{
                margin: 2%;
                img{
                    width: 100px;
                }
            }

            .artPrev{
                height: 200px;
                width: 300px;
            }
        }

        .comentarios{
            .comentario__box{    
                p{
                    font-size: $fuenteL*0.9;               
                }
            }
        }
        .Filtros{
            margin-top: 11vw;
            font-size: $fuenteL;
            .refinar{
                width: 35vw;
                padding: 1%;
    
                div{
                    color: black;
                    option{
                        color: black;
                    }
                }
            }
            transform: translateX(-35vw);
        }
    }
}
