*{
    font-family: 'Noto Sans';
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(30, 30, 30);
}

a{
    text-decoration: none;
    color: yellow;
}

li{
    list-style: none;
}

main{
    text-align: justify;
    a{
        &:visited{
            color: $visitedLinks;
        }
    }
}

@media screen and (min-width: 992px) {
    .linkDeNavegacion{
        transition: all 1s;

        &:hover{
            scale: 1.1;
        }
        
        a{
            color: yellow;
            transition: all 1s;

            &:hover{
                color: orange;
            }
        }
    }
}
