header{
    grid-area: nav;
    background-color: $colorFondoBox;
    padding: 2%;
    a{
        &:visited{
            color: yellow;
        }
    }
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    top: 0;
    left: 0;

    .logo{
        width: 120px;
        &:active{
            background-color: lightgray;
        }
    }
}

.navPC{
    display: none;
}

.navMobile{
    display: flex;
    flex-direction: column;
    .navMobile__menu__desplegable{
        display: block;
        background-color: $colorFondoBox;
        top: 100px;
        left: 0;
        li{
            margin-top: 5%;
            transition: all 1s;
            font-size: 0px;
            a{
                text-decoration: none;
            }
        }
    }

    &:hover{
        .navMobile__menu__desplegable{
            li{
                font-size: 7vw;
            }
        }
    }

    &:hover ~.busqueda{
        .busqueda__box{
            width: 50%;
        }
    }

}

.navMobile__menu__boton{
    display: block;
    width: 100px;
    height: 80px;
    font-size: $fuente;
    background-color: $colorFondoBox;
    color: black;
    font-weight: bolder;
    border: solid;
    justify-self: center;
    &:active{
        background-color: lightgray;
    }
}

.busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .busqueda__box{
        height: 50px;
        width: 220px;
        background-color: none;
        font-size: 24px;
        color: black;
    }
    
    .busqueda__icono{
        padding: 5%;
        img{
            width: 50px;
        }
    }
}

@media screen and (min-width: $sm) {

    .navMobile{
        display: none;
    }

    .navPC{
        display: flex;
        flex-direction: row;

        ul{
            display: flex;
            flex-direction: row;

            li{
                padding: 15px;
            }
        }
    }
}