.index{
    display: grid;
    grid-template-areas: 
    'nav'
    'pag'
    'main'
    'footer';
    
}


@media screen and (min-width: 992px) {
    .index{
        grid-template-areas: 
        'nav nav'
        'main pag'
        'footer footer';
    }
}
