.index{
    display: grid;
    grid-template-areas: 
    'nav'
    'pag'
    'main'
    'footer';

    main{
        margin: 2%;
        h2{
            font-size: 1.5*$fuenteP;
        }

        h3{
            font-size: 1.2*$fuenteP;
        }

        section{
            margin-top: 10vw;
        }

        article{
            margin: 3vw;
            height: 25vw;
            overflow: hidden;
        }
    }

    .volverArriba{
        display: block;
        position: fixed;
        bottom: 15vw;
        right: 5vw;
        background-color: $colorFondoBox;

        img{
            width: 10vw;
        }
    }
}


@media (orientation: landscape){
    .index{
        grid-template-areas: 
        'nav nav'
        'main pag'
        'footer footer';
            
        main{
            margin: 1%;

            h2{
                font-size: 1.5*$fuenteL;
            }
    
            h3{
                font-size: 1.2*$fuenteL;
            }

            section{
                margin-top: 2vw;
            }
            
            article{
                margin-top: 2vw;
                height: 15vw;
            }
        }

        .volverArriba{
            bottom: 7vw;
            right: 5vw;
    
            img{
                width: 5vw;
            }
        }
    }    
    
}
