.index{
    display: grid;
    grid-template-areas: 
    'nav'
    'pag'
    'main'
    'footer';

    main{
        margin: 2%;
        article{
            margin: 2%;
        }
    }
    
}


@media screen and (min-width: 992px) {
    .index{
        grid-template-areas: 
        'nav nav'
        'main pag'
        'footer footer';
            
        main{
            margin: 1%;
            
            article{
                margin: 1%;
            }
        }
    }
}
