.pag{
    display: block;
    grid-area: pag;
    padding: 5%;
    background-color: $colorFondoBox;
    
    h1{
        text-align: center;
        font-size: $fuente*1.5;
    }

    ul{
        display: flex;
        flex-direction: column;

        li{
            margin: 1%;
            list-style: disc;

            a{
                font-size: $fuente*1.5;
                &:visited{
                    color: $visitedLinks;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .pag{
        margin: 1%;
        padding: 15%;
        
        li{
            transition: transform 0.5s;
            padding: 5%;

            &:hover{
                transform: scale(1.1, 1.1);
            }
        }
    }
}
