.pag{
    display: block;
    grid-area: pag;
    height: fit-content;
    padding: 1%;
    margin: 1%;
    background-color: $colorFonfoBox;
    
    h1{
        text-align: center;
        font-size: x-large;
    }

    ul{
        display: flex;
        flex-direction: column;

        li{
            margin: 1%;
            list-style: disc;
            font-size: x-large;

            a{
                &:visited{
                    color: $visitedLinks;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .pag{
        margin-top: 15%;
        
        li{
            transition: transform 0.5s;

            &:hover{
                transform: scale(1.1, 1.1);
            }
        }
    }
}
