.comentario10 {
  font-size: 10;
}

.comentario20 {
  font-size: 20;
}

.comentario30 {
  font-size: 30;
}

* {
  font-family: "Noto Sans";
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(30, 30, 30);
}

a {
  text-decoration: none;
  color: yellow;
}

li {
  list-style: none;
}

main {
  text-align: justify;
}
main a:visited {
  color: red;
}

@media screen and (min-width: 992px) {
  .linkDeNavegacion {
    transition: all 1s;
  }
  .linkDeNavegacion:hover {
    scale: 1.1;
  }
  .linkDeNavegacion a {
    color: yellow;
    transition: all 1s;
  }
  .linkDeNavegacion a:hover {
    color: orange;
  }
}
header {
  grid-area: nav;
  background-color: gray;
  padding: 2%;
}
header a:visited {
  color: yellow;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  top: 0;
  left: 0;
}
nav .logo {
  width: 120px;
}
nav .logo:active {
  background-color: lightgray;
}

.navPC {
  display: none;
}

.navMobile {
  display: flex;
  flex-direction: column;
}
.navMobile .navMobile__menu__desplegable {
  display: block;
  background-color: gray;
  top: 100px;
  left: 0;
}
.navMobile .navMobile__menu__desplegable li {
  margin-top: 5%;
  transition: all 1s;
  font-size: 0px;
}
.navMobile:hover .navMobile__menu__desplegable li {
  font-size: 40px;
}
.navMobile:hover ~ .busqueda .busqueda__box {
  width: 50%;
}

.navMobile__menu__boton {
  display: block;
  width: 100px;
  height: 80px;
  background-color: gray;
  font-size: 28px;
  color: black;
  font-weight: bolder;
  border: solid;
  justify-self: center;
}
.navMobile__menu__boton:active {
  background-color: lightgray;
}

.busqueda {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.busqueda .busqueda__box {
  height: 50px;
  background-color: none;
  font-size: 18px;
  color: black;
}
.busqueda .busqueda__icono {
  padding: 5%;
}
.busqueda .busqueda__icono img {
  width: 50px;
}

@media screen and (min-width: 992px) {
  .navMobile {
    display: none;
  }
  .navPC {
    display: flex;
    flex-direction: row;
  }
  .navPC ul {
    display: flex;
    flex-direction: row;
  }
  .navPC ul li {
    font-size: 28px;
    padding: 15px;
  }
}
footer {
  grid-area: footer;
  background-color: gray;
}
footer ul {
  display: list-item;
  padding-inline: 1%;
  -moz-column-count: 2;
       column-count: 2;
  font-size: larger;
}
footer a:visited {
  color: red;
}

@media screen and (min-width: 992px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 1%;
    align-items: center;
    height: 40px;
    font-size: 20px;
  }
}
.index {
  display: grid;
  grid-template-areas: "nav" "pag" "main" "footer";
}
.index main {
  margin: 2%;
}
.index main article {
  margin: 2%;
}

@media screen and (min-width: 992px) {
  .index {
    grid-template-areas: "nav nav" "main pag" "footer footer";
  }
  .index main {
    margin: 1%;
  }
  .index main article {
    margin: 1%;
  }
}
.pag {
  display: block;
  grid-area: pag;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5%;
  background-color: gray;
}
.pag h1 {
  text-align: center;
  font-size: x-large;
}
.pag ul {
  display: flex;
  flex-direction: column;
}
.pag ul li {
  margin: 1%;
  list-style: disc;
  font-size: x-large;
}
.pag ul li a:visited {
  color: red;
}

@media screen and (min-width: 992px) {
  .pag {
    margin: 1%;
    padding: 15%;
  }
  .pag li {
    transition: transform 0.5s;
    padding: 5%;
  }
  .pag li:hover {
    transform: scale(1.1, 1.1);
  }
}
.arts article {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: dotted;
  border-color: darkgray;
  width: 95vw;
}
.arts article .art {
  height: 200px;
  padding-inline: 2%;
}
.arts article .art h2 {
  text-align: left;
}
.arts article .imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.arts article .imgs .autor {
  display: flex;
  flex-direction: column;
}
.arts article .imgs .autor img {
  width: 50px;
}
.arts article .imgs img {
  width: 100px;
}

.foro {
  background-color: rgb(30, 30, 30);
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  border-color: darkgray;
}
.foro article {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  border-bottom: dotted;
}
.foro article .superior {
  display: flex;
  margin: 1%;
}
.foro article .superior .artForo {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  height: 200px;
  overflow-y: scroll;
}
.foro .comentarios {
  display: block;
  text-justify: distribute;
  height: 100px;
  padding: 1%;
  overflow-y: scroll;
  border: dotted;
}
.foro .comentarios div {
  padding: 1%;
  border-bottom: dotted;
}
.foro .artImgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.foro .autor {
  text-align: center;
}
.foro .autor img {
  width: 60px;
  border: dotted;
  border-color: darkgray;
}
.foro .artPrev img {
  width: 120px;
  border: dotted;
  border-color: darkgray;
}

@media screen and (min-width: 992px) {
  .foro {
    grid-template-areas: "nav" "main" "footer";
  }
  .foro .artImgs {
    flex-direction: row;
  }
  .foro .autor {
    margin: 2%;
  }
  .foro .autor img {
    width: 100px;
  }
  .foro .artPrev img {
    width: 250px;
  }
}
.acerca {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
}
.acerca main {
  display: flex;
  flex-direction: column;
}
.acerca main .fila1 {
  display: flex;
  flex-direction: row;
}
.acerca main .fila1 iframe {
  width: 400px;
  height: 300px;
}
.acerca main .fila2 {
  display: flex;
  flex-direction: row;
}
.acerca main .fila2 img {
  width: 200px;
}/*# sourceMappingURL=styles.css.map */