* {
  font-family: "Noto Sans";
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(30, 30, 30);
}

a {
  color: yellow;
  text-decoration: underline;
}

li {
  list-style: none;
}

main {
  text-align: justify;
  font-size: 4vw;
}
main a:visited {
  color: purple;
}

@media (orientation: landscape) {
  main {
    font-size: 2vw;
  }
  .linkDeNavegacion {
    transition: all 1s;
  }
  .linkDeNavegacion:hover {
    transform: scale(1.1);
  }
  .linkDeNavegacion a {
    color: yellow;
    transition: all 1s;
  }
  .linkDeNavegacion a:hover {
    color: orange;
  }
}
header {
  grid-area: nav;
  background-color: gray;
  padding: 2%;
}
header a:visited {
  color: yellow;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  top: 0;
  left: 0;
}
nav .logo {
  width: 22vw;
}
nav .logo:active {
  background-color: lightgray;
}

.navPC {
  display: none;
}

.navMobile {
  display: flex;
  flex-direction: column;
}
.navMobile .navMobile__menu__desplegable {
  display: block;
  background-color: gray;
}
.navMobile .navMobile__menu__desplegable li {
  margin-top: 5%;
  transition: all 1s;
  font-size: 0px;
}
.navMobile .navMobile__menu__desplegable li a {
  text-decoration: none;
}
.navMobile:hover .navMobile__menu__desplegable li {
  font-size: 7vw;
}
.navMobile:hover ~ .busqueda .busqueda__box {
  width: 20vw;
}

.navMobile__menu__boton {
  display: block;
  width: 20vw;
  height: 15vw;
  font-size: 5vw;
  background-color: gray;
  color: black;
  font-weight: bolder;
  border: solid;
  justify-self: center;
}
.navMobile__menu__boton:active {
  background-color: lightgray;
}

.busqueda {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.busqueda .busqueda__box {
  height: 11vw;
  width: 40vw;
  background-color: none;
  font-size: 5vw;
  color: black;
}
.busqueda .busqueda__icono {
  padding: 5%;
}
.busqueda .busqueda__icono img {
  width: 8vw;
}

@media screen and (orientation: landscape) {
  .navMobile {
    display: none;
  }
  nav .logo {
    width: 10vw;
  }
  nav .busqueda .busqueda__box {
    font-size: 2.3vw;
    height: 6vw;
    width: 14vw;
  }
  nav .busqueda .busqueda__icono img {
    width: 3vw;
  }
  nav .navPC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .navPC ul {
    display: flex;
    flex-direction: row;
  }
  nav .navPC ul li {
    padding: 1vw;
    font-size: 2.3vw;
  }
  nav .navPC ul li a {
    text-decoration: none;
  }
}
footer {
  grid-area: footer;
  background-color: gray;
  font-size: 4.8vw;
}
footer ul {
  display: list-item;
  padding-inline: 1%;
  -moz-column-count: 2;
       column-count: 2;
}
footer a {
  text-decoration: none;
}
footer a:visited {
  color: purple;
}

@media screen and (orientation: landscape) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 1%;
    align-items: center;
    height: 7vw;
    font-size: 3vw;
  }
}
.index {
  display: grid;
  grid-template-areas: "nav" "pag" "main" "footer";
}
.index main {
  margin: 2%;
}
.index main h2 {
  font-size: 6vw;
}
.index main h3 {
  font-size: 4.8vw;
}
.index main section {
  margin-top: 10vw;
}
.index main article {
  margin: 3vw;
  height: 25vw;
  overflow: hidden;
}
.index .volverArriba {
  display: block;
  position: fixed;
  bottom: 15vw;
  right: 5vw;
  background-color: gray;
}
.index .volverArriba img {
  width: 10vw;
}

@media (orientation: landscape) {
  .index {
    grid-template-areas: "nav nav" "main pag" "footer footer";
  }
  .index main {
    margin: 1%;
  }
  .index main h2 {
    font-size: 3vw;
  }
  .index main h3 {
    font-size: 2.4vw;
  }
  .index main section {
    margin-top: 2vw;
  }
  .index main article {
    margin-top: 2vw;
    height: 15vw;
  }
  .index .volverArriba {
    bottom: 7vw;
    right: 5vw;
  }
  .index .volverArriba img {
    width: 5vw;
  }
}
.pag {
  display: block;
  grid-area: pag;
  padding: 5%;
  background-color: gray;
}
.pag h1 {
  text-align: center;
  font-size: 6vw;
}
.pag ul {
  display: flex;
  flex-direction: column;
}
.pag ul li {
  margin: 1%;
  list-style: disc;
}
.pag ul li a {
  font-size: 6vw;
}
.pag ul li a:visited {
  color: purple;
}

@media (orientation: landscape) {
  .pag {
    margin: 1%;
    padding: 15%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .pag h1 {
    text-align: center;
    font-size: 3vw;
  }
  .pag ul li {
    transition: transform 0.5s;
    padding: 5%;
  }
  .pag ul li a {
    font-size: 2vw;
  }
  .pag ul li a:visited {
    color: purple;
  }
  .pag ul li:hover {
    transform: scale(1.1, 1.1);
  }
}
.arts {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
}
.arts .Filtros {
  position: fixed;
  margin-top: 23vw;
  display: flex;
  font-size: 4vw;
  transform: translateX(-60vw);
  transition: all 1s;
}
.arts .Filtros .refinar {
  background-color: gray;
  border: dotted;
  border-color: darkgray;
  width: 60vw;
  padding: 1%;
}
.arts .Filtros .refinar div {
  color: black;
}
.arts .Filtros .refinar div option {
  color: black;
}
.arts .Filtros button {
  width: 4vw;
  color: black;
}
.arts .Filtros:hover {
  transform: translateX(0vw);
}
.arts main {
  grid-area: main;
  padding: 3vw;
}
.arts article {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: dotted;
  border-color: darkgray;
  width: 95vw;
  height: 40vw;
}
.arts article .art {
  padding-inline: 2%;
}
.arts article .art h2 {
  text-align: left;
}
.arts article .imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.arts article .imgs .autor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arts article .imgs .autor img {
  width: 10vw;
}
.arts article .imgs img {
  width: 15vw;
}

@media (orientation: landscape) {
  .arts main article .art {
    font-size: 2vw;
  }
  .arts .Filtros {
    margin-top: 11vw;
    font-size: 2vw;
    transform: translateX(-35vw);
  }
  .arts .Filtros .refinar {
    width: 35vw;
    padding: 1%;
  }
  .arts .Filtros .refinar div {
    color: black;
  }
  .arts .Filtros .refinar div option {
    color: black;
  }
}
.foro {
  background-color: rgb(30, 30, 30);
  display: grid;
  grid-template-areas: "nav" "main" "footer";
}
.foro main {
  grid: main;
}
.foro .Filtros {
  position: fixed;
  margin-top: 23vw;
  display: flex;
  font-size: 4vw;
  transform: translateX(-60vw);
  transition: all 1s;
}
.foro .Filtros .refinar {
  background-color: gray;
  border: dotted;
  border-color: darkgray;
  width: 60vw;
  padding: 1%;
}
.foro .Filtros .refinar div {
  color: black;
}
.foro .Filtros .refinar div option {
  color: black;
}
.foro .Filtros button {
  width: 4vw;
  color: black;
}
.foro .Filtros:hover {
  transform: translateX(0vw);
}
.foro article {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  border-bottom: dotted;
  border-color: darkgray;
}
.foro article .superior {
  display: flex;
  margin: 1%;
}
.foro article .superior .artForo {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  height: 50vw;
  overflow-y: scroll;
}
.foro article .superior .artForo h2 {
  font-size: 6vw;
}
.foro article .superior .artForo img {
  max-width: 60vw;
}
.foro .comentarios {
  display: block;
  height: 20vw;
  overflow-y: scroll;
  border: dotted;
  border-color: darkgray;
}
.foro .comentarios .comentario__box {
  padding: 1%;
  border-bottom: dotted;
  border-color: darkgray;
}
.foro .comentarios .comentario__box p {
  font-size: 3.6vw;
}
.foro .comentarios .comentario__box .comentario__box__pie {
  display: flex;
  justify-content: end;
  border-right: dotted;
  border-color: darkgray;
}
.foro .comentarios .comentario__box .comentario__box__pie li {
  padding-inline: 1%;
  border-left: dotted;
  border-color: darkgray;
}
.foro .artImgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.foro .artImgs .autor {
  text-align: center;
}
.foro .artImgs .autor a img {
  width: 10vw;
  border: dotted;
  border-color: darkgray;
}
.foro .artImgs .artPrev {
  border: dotted;
  border-color: darkgray;
  height: 20vw;
  width: 30vw;
}

@media screen and (orientation: landscape) {
  .foro {
    grid-template-areas: "nav" "main" "footer";
  }
  .foro article .superior .artForo h2 {
    font-size: 3vw;
  }
  .foro article .superior .artForo img {
    max-width: 700px;
  }
  .foro .artImgs {
    flex-direction: row;
  }
  .foro .artImgs .autor {
    margin: 2%;
  }
  .foro .artImgs .autor img {
    width: 100px;
  }
  .foro .artImgs .artPrev {
    height: 200px;
    width: 300px;
  }
  .foro .comentarios .comentario__box p {
    font-size: 1.8vw;
  }
  .foro .Filtros {
    margin-top: 11vw;
    font-size: 2vw;
    transform: translateX(-35vw);
  }
  .foro .Filtros .refinar {
    width: 35vw;
    padding: 1%;
  }
  .foro .Filtros .refinar div {
    color: black;
  }
  .foro .Filtros .refinar div option {
    color: black;
  }
}
.acerca {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
}
.acerca main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 4%;
}
.acerca main .fila1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.acerca main .fila1 iframe {
  margin: 4%;
  width: 400px;
  height: 300px;
}
.acerca main .fila2 {
  display: flex;
  flex-direction: row;
}
.acerca main .fila2 div {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
.acerca main .fila2 div img {
  width: 30vw;
}

.pagContacto {
  display: grid;
  grid-template-areas: "nav" "arriba" "medio" "abajo" "footer";
}
.pagContacto main {
  padding: 2%;
}
.pagContacto main form {
  display: flex;
  flex-direction: column;
}
.pagContacto main form .arriba {
  display: flex;
  grid-area: "arriba";
  margin: 2%;
  width: 85vw;
  justify-content: space-between;
}
.pagContacto main form .arriba div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
  width: 60vw;
}
.pagContacto main form .arriba div input {
  margin-bottom: 2vw;
  color: black;
}
.pagContacto main form .arriba img {
  width: 20vw;
}
.pagContacto main form textarea {
  grid-area: "medio";
  padding: 2%;
  color: black;
  width: 100%;
  height: 50vw;
  overflow-y: scroll;
  margin-bottom: 2vw;
}
.pagContacto main form .abajo {
  grid-area: "abajo";
  display: flex;
  justify-content: space-between;
}
.pagContacto main form .abajo input {
  color: black;
}

@media (orientation: landscape) {
  .pagContacto form div input {
    font-size: 2vw;
  }
}/*# sourceMappingURL=styles.css.map */